@font-face {
  font-family: "Bohemian Soul";
  src: url("font/Bohemian Soul.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Alcazar";
  src: url("fonts/Alcazar-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-bohemian {
  font-family: "Bohemian Soul", cursive;
}

.font-alcazar {
  font-family: "Alcazar", sans-serif;
}
